# gravitee module name (used by buildpack to download the module)
GRAVITEE_MODULE=graviteeio-apim-gateway
# folder name (used by buildpack to determine the module to install)
PROJECT_DIR=graviteeio-apim-gateway
# Mongodb url
# Used for management and rate limiting
POSTGRESQL_URL=postgresql://USERNAME:PWD@URL:PORT/INSTANCE

# Elastic search url
# Used for reporters
ELASTICSEARCH_URL=http://user:password@my-es.dbs.scalingo.com:port
